{%extends "indi-comp.html"%}
{%block content%}
<div class="row">
  <div>
  <div class="card-4 margin white">
    <div class="container">
      <h3><b>Berkshire Hathaway Stocks</b></h3>
    </div>

    <div class="container">
      <p>The company is known for its control and leadership by Warren Buffett, who serves as chairman and chief executive and Charlie Munger, the company's vice chairman. In the early part of Buffett's career at Berkshire, he focused on long-term investments in publicly traded companies, but more recently he has more frequently bought whole companies. Berkshire now owns a diverse range of businesses including confectionery, retail, railroads, home furnishings, encyclopedias, manufacturers of vacuum cleaners, jewelry sales, newspaper publishing, manufacture and distribution of uniforms, and several regional electric and gas utilities.
    </div>
  </div>
  <hr>
</div>
<div style="text-align:center;">
<iframe height="600" width="800" src="/static/image1.png" name="aple"></iframe>
<p style="text-align:center;"><ul class="menu">
<li><a href="/static/image2.png" target="aple">Last Week</a></li>
<li><a href="/static/image2.png" target="aple">Last Month</a></li>
<li><a href="/static/image2.png" target="aple">This Month</a></li>
</ul></p>
</div>
</div>
{%endblock%}
