{%extends "indi-comp.html"%}
{%block content%}
<div class="row">
  <div>
  <div class="card-4 margin white">
    <div class="container">
      <h3><b>Facebook Stocks</b></h3>
    </div>

    <div class="container">
      <p>Facebook can be accessed from a large range of devices with Internet connectivity, such as desktop computers, laptops and tablet computers, and smartphones. After registering, users can create a customized profile indicating their name, occupation, schools attended and so on. Users can add other users as "friends", exchange messages, post status updates, share photos, videos and links, use various software applications ("apps"), and receive notifications of other users' activity. Additionally, users may join common-interest user groups organized by workplace, school, hobbies or other topics, and categorize their friends into lists such as "People From Work" or "Close Friends". Additionally, users can report or block unpleasant people.
    </div>
  </div>
  <hr>
</div>
<div style="text-align:center;">
<iframe height="600" width="800" src="/static/image1.png" name="aple"></iframe>
<p style="text-align:center;"><ul class="menu">
<li><a href="/static/image2.png" target="aple">Last Week</a></li>
<li><a href="/static/image2.png" target="aple">Last Month</a></li>
<li><a href="/static/image2.png" target="aple">This Month</a></li>
</ul></p>
</div>
</div>
{%endblock%}
