{%extends "indi-comp.html"%}
{%block content%}
<div class="row">
  <div>
  <div class="card-4 margin white">
    <div class="container">
      <h3><b>Google Stocks</b></h3>
    </div>

    <div class="container">
      <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. Google was founded in 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University, California. Together, they own about 14 percent of its shares and control 56 percent of the stockholder voting power through supervoting stock. They incorporated Google as a privately held company on September 4, 1998. An Initial public offering (IPO) took place on August 19, 2004, and Google moved to its new headquarters in Mountain View, California, nicknamed the Googleplex.
    </div>
  </div>
  <hr>
</div>
<div style="text-align:center;">
<iframe height="600" width="800" src="/static/image1.png" name="aple"></iframe>
<p style="text-align:center;"><ul class="menu">
<li><a href="/static/image2.png" target="aple">Last Week</a></li>
<li><a href="/static/image2.png" target="aple">Last Month</a></li>
<li><a href="/static/image2.png" target="aple">This Month</a></li>
</ul></p>
</div>
</div>
{%endblock%}
