{%extends "indi-comp.html"%}
{%block content%}
<div class="row">
  <div>
  <div class="card-4 margin white">
    <div class="container">
      <h3><b>Microsoft Stocks</b></h3>
    </div>

    <div class="container">
      <p>Microsoft Corporation is an American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports and sells computer software, consumer electronics, personal computers, and services. Its best known software products are the Microsoft Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers. As of 2016, it is the world's largest software maker by revenue, and one of the world's most valuable companies. The word "Microsoft" is a portmanteau of "microcomputer" and "software".
    </div>
  </div>
  <hr>
</div>
<div style="text-align:center;">
<iframe height="600" width="800" src="/static/image1.png" name="aple"></iframe>
<p style="text-align:center;"><ul class="menu">
<li><a href="/static/image2.png" target="aple">Last Week</a></li>
<li><a href="/static/image2.png" target="aple">Last Month</a></li>
<li><a href="/static/image2.png" target="aple">This Month</a></li>
</ul></p>
</div>
</div>
{%endblock%}
