{%extends "indi-comp.html"%}
{%block content%}
<div class="row">
  <div>
  <div class="card-4 margin white">
    <div class="container">
      <h3><b>Tesla Stocks</b></h3>
    </div>

    <div class="container">
      <p>Tesla, Inc. (formerly Tesla Motors) is an American company that specializes in electric vehicles, energy storage and solar panel manufacturing based in Palo Alto, California. Founded in 2003, the company specializes in electric cars, lithium-ion battery energy storage, and residential photovoltaic panels (through the subsidiary company SolarCity). The additional products Tesla sells include the Tesla Powerwall and Powerpack batteries, solar panels and solar roof tiles. CEO Elon Musk said that he envisions Tesla as a technology company and independent automaker, aimed at eventually offering electric cars at prices affordable to the average consumer. The company was named for the electrical engineer and physicist Nikola Tesla by company founders Martin Eberhard and Marc Tarpenning.
    </div>
  </div>
  <hr>
</div>
<div style="text-align:center;">
<iframe height="600" width="800" src="/static/image1.png" name="aple"></iframe>
<p style="text-align:center;"><ul class="menu">
<li><a href="/static/image2.png" target="aple">Last Week</a></li>
<li><a href="/static/image2.png" target="aple">Last Month</a></li>
<li><a href="/static/image2.png" target="aple">This Month</a></li>
</ul></p>
</div>
</div>
{%endblock%}
